html {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  background-color: turquoise;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  margin: 0;
}

text {
  fill: white;
  font-family: Arial, Helvetica, sans-serif;
}

.minute-circle {
  fill: transparent;
  stroke: red;
  stroke-width: 14;
  stroke-dasharray: 0.2 0.8;
  stroke-dashoffset: 0.1;
}

.hour-circle {
  fill: transparent;
  stroke: yellow;
  stroke-width: 14;
  stroke-dasharray: 0.2 4.8;
  stroke-dashoffset: 0.1;
}

.hand {
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;
}

.hand-thick {
  stroke-width: 14;
}

.hand-second {
  stroke: red;
}

.center {
  stroke: white;
  stroke-width: 4;
  fill: transparent;
}
